.App {
    height: 100vh;
    margin: 0;
    padding: 0;

    width: "80px" ,height: "30px", boxShadow: "rgb(0 0 0) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset"
}
